<h1><%= @work.name %></h1>

<div class="center-block jumbotron">
  <div class="container ">
  <!--  <div class="row">
      <div class="col-xs-12 col-md-12" "col_lg_12"> -->
        <p><%= image_tag(@work.image.url, class: "img-responsive") %></p>
        <p><%= @work.contents %></p>
        <p class="link">[ <%= link_to @work.link %> ]</p>
  <!--    </div>
  </div> -->
  </div>
</div>
<div  class="btn btn-secondary">
  <%= button_to "戻る", {controller: "works", action: "index"}, { method: :get} %>
</div>
