<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "WORK",  index_path %></li>
      <li><%= link_to "CONTACT", new_contact_path %></li>
      <li><%= link_to "BLOG", "http://song-of-life.hatenablog.com/" %></li>
      <li><%= link_to image_tag("FB-logo.png", class: "linklogo", alt: "facebook"),
                              "https://www.facebook.com/takagi.marin.9" %>
      <li><%= link_to image_tag("Twitter_Logo.png", class: "linklogo", alt: "twitter"),
                              "https://twitter.com/marulovedai" %>
    </ul>
  </nav>
</footer>
