<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "MyWeb", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "PROFIEL", profiel_path %></li>
        <li><%= link_to "WORK", '#' %></li>
        <li><%= link_to "CONTACT", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
